.page{
    background-color:#4D4D4D ;
    height: 100vh;
    padding: 32px;
}
.page2{
    background-color:#F8E9A1;
   height:calc(100vh - 64px);
    padding: 32px;
    border-radius: 8px;

}
.page3{
    border-radius: 8px;
    height: calc(100vh - 128px);
}
.page4A{
    height: 40%;
    margin-bottom: 16px;
}

.welcome{
    margin-top: 16px;
    text-align: center;
}
.weclome h1{
    font-size: var(--H1);
    color: var(--BLACK);
}
.welcome p{
    font-size: var(--H6);
    color: var(--DARKGREY);
}
.page4B{
    background-color: var(--WHITE);
    padding: 8px;
    border-radius: 8px;
    
}



.forms{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
}

.loginbtns{
    width:80%;
    margin: 16px auto;
    display: flex;
    justify-content: space-around;

}
.loginbtns div{
    width: 48%;
   
}
.connection{
    border-top: 1px solid var(--GREY);
    width: 40%;
    margin: 0 auto;
    text-align: center;
}
.connection legend{
    color: var(--BLACK);
    margin: 0 auto;
    margin-bottom: 16px;
    padding: 0 12px;
    font-size: var(--BodyR);
}
.select{
    color: var(--WHITE);
    font-size: var(--BodyR);
    padding: 12px 20px;
    background-color: var(--DARKGREY);
    width: 80%;
    border-radius: 8px;
    margin: 0 auto;
}


.select:hover{
    background-color: var(--GREY);
    color: var(--DARKGREY);
}
option {
    color: var(--BLACK);

}

@media only screen and (max-width:990px) {
    .page{
        padding: 16px;
    }
    .page2{
       height:calc(100vh - 32px);
        padding: 16px; 
    }
    .page3{
        border-radius: 8px;
        height: calc(100vh - 64px);
    }
   
    
    .page4A{
        height: 22%;

    }
    .page4B{
        height: 78%;
        
    }
    .connection{
        width:90%;
    }
    .connection legend{
        margin-bottom: 0px;
    }
.forms{
    display: block;
    padding: 8px 0;
    
}
.loginbtns{
    width:fit-content;
    margin: 16px auto;
    display: block;

}
.loginbtns div{
    width: 100%;
    margin: 8px auto;
}
.select{
    width: 100%;
   
}

}
  
  
  
  



