
.section{
    padding: 64px 0;
}
.results{
  border-radius: 8px;
  width: 50%;
  outline: 1px solid var(--GREY);
  padding: 16px  0;
  margin: 0 auto;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-around;
  
}
.results div{
  font-size: var(--BodyR);
  color: var(--DARKBLUE);
  border-bottom: 1px solid var(--PRIMARY);
  padding: 8px;
  height: fit-content;
  width: fit-content;
  margin: 0 auto;
}

.database{
    border-radius: 8px;
    outline: 1px solid var(--GREY);
   width: 100%;
   margin: 0 auto;
}

  table thead th
   {
    padding:  32px 0!important;
    border-top:none ;
    color: var(--DARKGREY);
    font-size: var(--BodyR);
    text-align: center;
    vertical-align: middle;
    
   

  }

  
  
  
  
  
  
   tbody tr:hover {
    background-color: rgb(3, 10, 35,0.075);
  }
  .newResponsible{
    width: fit-content;
    position: sticky;
   margin-bottom: 32px;
    padding-top: 0;
    left: 90vw;
    bottom: 0;
  }

  @media only screen and (max-width:990px){
    table thead th{
      padding:32px  !important;
      width: fit-content;
     }

 .database{
  overflow-x: auto;
  max-width: 100%;
 }

 .results{
  width: 100%;
  padding: 16px  ; 
  justify-content: space-between;  
}
.results div{
  text-align: center;
  padding: 0;
  width:50%;
  margin: 0 8px;
}


  }