.close {
    display: flex;
    position: absolute;
    right: 20px;
    top: 20px;
}
.body {
    padding: 64px;
}

.label{
    width: 40%;
    margin: 0;
    
}
.content{
    width: 60%;
    border-bottom: 1px solid var(--DARKGREY); 
    margin: 0;
    margin-left: 16px;
    padding: 0 8px;
}
.profilDetails{
    margin:16px 0;
    color: var(--BLACK);
    font-size: var(--BodyR);
}
.title{
    margin: auto;
}
.description {
    font-size: var(--BodyR);
    color: var(--DARKGREY);
}
.inputDiv {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 0 auto;
    margin-top: 32px;
}
.navigationBtn {
    width: 120px;
}
.createSupervisor {
    margin: 0 auto;
    width: fit-content;
}
.select {
    color: var(--WHITE);
    font-size: var(--BodyR);
    padding: 12px 20px;
    background-color: var(--DARKGREY);
    width: 100%;
    border-radius: 8px;
    margin: 0 auto;
}
.select:hover {
    background-color: var(--GREY);
    color: var(--DARKGREY);
}
.calendarBtn{
    position: absolute;
    right: 10%;
    top: 28%;

  }
 
@media only screen and (max-width:990px) {
    .body {
        padding: 32px;
    }
    .inputDiv {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    
}