
.btn {
  padding: 16px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: var(--H6);
  color: var(--BLACK);
  border: none;
  width: 100%;

}

  table thead th
  {
    background-color: rebeccapurple;
   padding:  32px 0!important;
   border-top:none ;
   color: var(--DARKGREY);
   font-size: var(--BodyR);
   text-align: center;
   vertical-align: middle;

 }


 table tbody td {
   font-size: var(--BodyR);
   border-top: 1px solid var(--GREY) !important;
   padding:8px 8 !important;
   text-align: center;
   vertical-align: middle;
 }
 table tbody td div{
  display: flex;
  justify-content: space-around;
   margin: 0 auto;
   width: 24%;
 }
 table tbody td div div {
  width: 92px;
 }


 
 
  tbody tr:hover {
    cursor: pointer;
   background-color: rgb(3, 10, 35,0.075);
 }
.newRecord{
 width: fit-content;
 margin: 16px;
 margin-bottom: 0;
 float: right;
}
.name{
  width: max-content;
  margin: 16px auto;
  font-size: var(--H5);
}
 @media only screen and (max-width:990px){
   table thead th{
     padding:32px  !important;
     width: fit-content;
    }
    .oneTable {
      padding: 16px 0 !important;
      margin: 16px 0 !important;
      width: 100% !important;
  }
  .name {
    font-size: var(--BodyL);
}
.database{
 overflow-x: auto;
 max-width: 100%;
}
 }