
.footer{
   border: none;  
   padding: 64px 96px;
   margin: 0;

}
.slogan p{
    margin: 28px 0;
    color: var(--DARKGREY);
    font-size: var(--P);
}
.socials{
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.bodyl{
    font-size: var(--BodyL);
    color: var(--BLACK);

}
.bodys{
    font-size: var(--BodyS);
    color: var(--DARKBLUE);


}
.contact{
    display:inline-block;
    margin-right: 8px;
}
@media only screen and (width <= 990px)
{
    .slogan , .footerInfo{
        margin-bottom: 60px;
    }
    .footer{
        padding: 0 32px;
    }
    .socials{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
}