
.navbar{
    border-bottom: solid 1px var(--GREY);   
    padding: 8px 96px;
    background-color: var(--WHITE);
}

.navItem{
    margin: 0 4px;
}

.links{
    color: var(--BLACK);
    text-decoration: none;
    padding: 12px;
}

.links:hover{
    border-radius: 8px;
    color: var(--WHITE);
    background-color: var(--DARKBLUE);
}
.dropdownPic img{
    border-radius: 50%;
    background-size: contain;
    width: 68px;
    height: 68px;
}
.dropdownPic::after {
    display: none;
  }
.settingsMenu{   
  font-size:var(--BodyR);
  color: var(--BLACK);
  border: 1px solid var(--GREY);
  border-radius: 8px;
  padding: 16px;
  margin-top: 12px !important;
}

.dropdownItem{
    margin: 16px 0;
}
.active {
    border-radius: 8px;
    border: solid 1px var(--DARKBLUE) ;
    font-weight: bold;
    

}





@media only screen and (max-width: 990px) {
    
.navbar{
    padding: 8px 32px;
    border: none;

}

.brand{
        display: none;
}
.menuList{
        background-color: var(--DARKBLUE);
        color: transparent;
        border-radius: 8px;
        padding: 8px ;
    }
.menuListIcon{
        font-weight: 500;
        height: 32px;
        width: 32px;
}
    .navItems{
        padding: 32px 0;
        border: none;
    }
    .navItem{
        margin: 8px 0;
        padding: 8px;
    }
    .slogan{
        margin-top: 16px;
        list-style: none;
    }
    .slogan p{
        margin: 24px 0;
        color: var(--DARKGREY);
        font-size: var(--P);
    }
    .socials{
        display: flex;
        justify-content: space-evenly;
    }
  
    .userSettings{
        display: none;
    }
   
    
    .avatar img{
        border-radius: 50%;
        background-size: contain;
        width: 68px;
        height: 68px;
    
    }
    
    
    
    
    
  
    
   

    
   
    
    .brand{
        display: none;
    }
    
    }
    
@media only screen and (min-width: 990px) {
    .slogan{
        display: none;
    }
    .settings{
        display: none;
    }
    .avatar{
        display: none;
    }
}