.calendarDiv {
    border: 1px solid var(--DARKGREY);
    padding: 16px;
    border-radius: 32px ;
    width: max-content;
    text-align: center;
  }

  
  .calendar {
    width: 100%;
    border: 0;
    margin: 0;
 } 
  
  .calendar button {
    margin: 0;
    border: 0;
    outline: none;
    padding: 4px;
    margin: 4px;
    background-color: white;
}
  
  .calendar button:enabled:hover {
    cursor: pointer;
    background-color: var(--GREY);
    border: 1px solid var(--DARKGREY);
    color: var(--BLACK);
    border-radius: 8px;
  }
  .calendar div {
    background-color: white;
    
}
.calendar div div button {
  margin: 4px auto;
}
  .chosenDateBtn{
    background-color: var(--PRIMARY);
    border: none;
    padding: 8px;
    border-radius: 8px;
    margin: 16px;
    color: var(--WHITE);
  }
 

  @media only screen and (max-width:990px) { 
    .calendarDiv {
        padding: 0 ;
      }
      
    
   
      
   
}