.page{
    padding: 0 32px;
}
.main{
    margin: 0 16px;
}
.section{
    padding: 64px 0;
}
.pageTitle{
    color: var(--PRIMARY);
    font-size: var(--H2);

}
    
@media only screen and (max-width:990px) {
    .main{
        margin: 0;
    }
    .pageTitle{
        font-size: var(--H4);
        text-align: center;
    }
}