.page{
    padding: 0 32px;
}
.main{
    margin: 0 16px;
}
.section{
    padding: 64px 0;
}
.pageTitle{
    color: var(--PRIMARY);
    font-size: var(--H2);

}
.formHeader{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin: 40px 0;

}
.formHeader p{
    color: var(--DARKGREY);
    font-size: var(--BodyR);
    margin: auto 0;

}
.cancelBtn{
    padding: 12px 20px;
    background-color: var(--WHITE);
    color: var(--PRIMARY);
    font-size: var(--BodyR);
    border-radius: 8px;
    border: 1px solid var(--PRIMARY);
    width: 100%;
}
.form{
    border: 1px solid var(--BLACK);
    margin: 0 32px;
    border-radius: 32px;
    padding: 32px;

}
.formContent{
    width: 68%;
    margin: 0 auto;

}
.inputDiv{
    display: flex;
    justify-content: space-between;
    margin: 60px 0;
}

.field{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: baseline;
}

.formContent p{

    font-size: var(--BodyL);
    color: var(--BLACK);
    width: fit-content;
    margin: auto 0;
    padding: 0;
}


.navigationBtn{
    width: 120px;
    margin: 0 auto;
}
.select{
    color: var(--DARKGREY);
    font-size: var(--BodyR);
    padding: 12px 20px;
    background-color: var(--WHITE);
    border: 1px solid var(--DARKGREY);
    border-radius: 8px;
    margin: 0 auto ;
    width:50% ;
    
}


option {
    color: var(--BLACK);
}
.calendarDiv {
    border: 1px solid var(--DARKGREY);
    padding: 16px;
    border-radius: 32px ;
    width: max-content;
    text-align: center;
  }
 
  .calendar button {
    margin: 0;
    border: 0;
    outline: none;
    padding: 4px;
    margin: 4px;
    background-color: white;
  }
  .calendar button:enabled:hover {
    cursor: pointer;
    background-color: var(--DARKGREY);
    color: var(--WHITE);
    border-radius: 8px;
  }
  .calendar div {
    background-color: white;
  }
  .chosenDateBtn{
    background-color: var(--PRIMARY);
    border: none;
    padding: 8px;
    border-radius: 8px;
    margin: 16px;
    color: var(--WHITE);
  }
  .calendarBtn{
    position: absolute;
   left: 72%;

  }
  .inputDiv hr{
   color: var(--BLACK);
    width: 80%;
    margin: 0 auto;
  }

    

@media only screen and (max-width:990px) {
    .main{
        margin: 0;
    }
    .pageTitle{
        font-size: var(--H4);
        text-align: center;
    }
    .form{
        margin: 0;
        padding: 16px;
    }
    .formHeader{
        padding: 0;
    }
    .formContent{
        width: 100%;
        margin:0 auto;
    }
   
    .inputDiv{
        margin: 32px 0;
    }
    .field{
        width: 100%;
        padding: 0;
        display: block;
    }
  
    .formContent p{
        margin: 16px auto;
        padding: 0;
    }
   
    /*
    */
    .calendarDiv {
        padding: 0 16px;
      }
     
      
      
      
      
      .calendarBtn{
        position: relative;
        left: 84%;
        bottom: 40px;
        padding: 0;

      }
   
     .mobileNavigation{
        display: flex;
        justify-content: space-between;
     }
     .select{
        width: 100%;
     }
   
      
   
}