.page{
    padding: 0 32px;
}

.section{
    padding: 64px 0;
}
.database{
    border-radius: 8px;
    outline: 1px solid var(--GREY);
    padding: 8px;
    
}
table {
    margin: 0;
  }
  table thead th
   {
    padding:  32px 0!important;
    border-top:none ;
    color: var(--DARKGREY);
    font-size: var(--BodyR);
    text-align: center;
    vertical-align: middle;

  }
  
 
  table tbody td {
    font-size: var(--BodyR);
    border-top: 1px solid var(--GREY) !important;
    padding:8px 8 !important;
    text-align: center;
    vertical-align: middle;


  }
  
  
  
  
  
   tbody tr:hover {
    background-color: rgb(3, 10, 35,0.075);
  }
  .view{
    border: none;
    text-decoration: underline;
    color: #00BBF5;
    background-color: transparent;
  }
  .profil{
    width: fit-content;
    margin: 0 auto;
  }
  @media only screen and (max-width:990px){
    table thead th{
      padding:32px  !important;
      width: fit-content;
     }

 .database{
  overflow-x: auto;
  max-width: 100%;
 }
   
  }