.page{
    padding: 0 32px;
    
}

.section{
    padding: 64px 0;
}
.h2{
  color: var(--PRIMARY);
  font-size: var(--H2);
}

.accounts{
  display: flex;
  height: fit-content;
}
.accountsTitle{
  font-size:var(--BodyL);
  color:var(--DARKBLUE);
  margin:auto 0;
  margin-right:16px;
}
.accountsNumber{
  background-color: var(--GREY);
  padding: 8px;
  display: flex;
  align-items: center;
  border-radius:8px;
  font-size:var(--BodyR);
  color:var(--BLACK);
}
.number img{
margin-right: 8px;
}
.enrolled {
  display: flex;

}
.enrolledTitle{
  font-size:var(--BodyL);
  color:var(--DARKBLUE);
  margin:auto 0;
  margin-right:16px;
}
.enrolledNumber{
  background-color: var(--GREY);
  padding: 8px;
  display: flex;
  align-items: center;
  border-radius:8px;
  font-size:var(--BodyR);
  color:var(--BLACK);

}
.number{
  background-color: var(--GREY);
  padding: 8px;
  display: flex;
  align-items: center;
  border-radius:8px;
  font-size:var(--BodyR);
  color:var(--BLACK);
}
.number img{
margin-right: 8px;
}
.classification {
  border-radius: 8px;
  outline: 1px solid var(--GREY);
  padding: 8px;
  margin: 0;
  margin-bottom: 32px;
}

  
  table thead th
   {
    padding:  32px 0!important;
    border-top:none ;
    color: var(--DARKGREY);
    font-size: var(--BodyR);
    text-align: center;
    vertical-align: middle;

  }
  
 
  table tbody td {
    font-size: var(--BodyR);
    border-top: 1px solid var(--GREY) !important;
    padding:8px 8 !important;
    text-align: center;
    vertical-align: middle;


  }
  
  
  
  
  
   tbody tr:hover {
    background-color: rgb(3, 10, 35,0.075);
  }
  .statistics{
    margin-top: 32px;
  }
  .statistics div{
    display: flex;
    align-items: center;
    font-size: var(--BodyS);
    color: var(--DARKGREY);
  }
  .statistics div img{
    margin-right: 8px;
  }
  .results{
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
  .results div{
    font-size: var(--BodyR);
    color: var(--DARKBLUE);
    border-bottom: 1px solid var(--PRIMARY);
    padding: 8px;
    height: fit-content;
  }
  .sortBy{
    margin-right: 128px;
  }
  .sortBtn{
    border: none;
    background-color: var(--WHITE);
}
.category button {
  width: max-content;
  margin:0 16px;
  padding: 12px; 
  color: var(--BLACK);
  border: none;
  background-color: transparent;
}
.searchIcon {
  border: none;
  background-color: transparent;

 }
 .inputDiv{
  width: 100%;
  
  }


.category button:hover{
  border-radius: 8px;
  color: var(--WHITE) ;
  background-color: var(--DARKBLUE);
}
.newStudent{
  width: fit-content;
  position: sticky;
  padding: 64px 0;
  padding-top: 0;
  left: 90vw;
  bottom: 0;
}

  @media only screen and (max-width:990px){
    table thead th{
      padding:32px  !important;
      width: fit-content;
     }

 .database{
  overflow-x: auto;
  max-width: 100%;
 }

.h2{
font-size: var(--H4);
}
.accounts{
justify-content: space-between;
margin-bottom: 32px;
}

.enrolled {
justify-content: space-between;

}



.statistics div{
  justify-content: center;
  margin: 8px auto;

}
.classification{
  flex-direction: column-reverse;
}

.sortBy{
  margin-right: 0;
}

.searchIcon {
border: none;
background-color: transparent;

}
.inputDiv{
margin-bottom: 32px;
}


   
  }