.page{
    padding: 0 32px;
}
.section{
    padding: 64px 0;

}
.mainTitle{
    color: var(--PRIMARY);
    font-size: var(--H2);
    margin-bottom: 64px;

}
.progressDiv{
 width: 50%;
 margin: 0 auto;

}






.divider{
    border: 1px dashed var(--DARKGREY);
    margin: 32px auto;

}
.space{
    width: 10%;

}


.h3{
    width: fit-content;
    margin: 0 auto;
    font-size: var(--H4);
    margin-bottom: 16px;
}
.btn1{
    width: max-content;
    margin: 0 auto;

}




@media only screen and (max-width:990px)
{
    
    .mainTitle{
        font-size: var(--H4);
        text-align: center;

    }
    .progressDiv{
     width: 100%;
    }
  
    
   
    
    
    .divider{
        margin: 32px 8%;
    
    }   
   
    .h3{
        font-size: var(--H6);
    }
}