.defBtn{
    padding: 12px 20px;
    font-size: var(--BodyR);
    border-radius: 8px;
    width: 100%;
    text-align: center;
   
}
.displayIcon{
    display: none;
}
.flexContent{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.dark{   
    background-color: var(--PRIMARY);
    color: var(--WHITE);
    border:1px solid var(--PRIMARY) ;
    box-shadow: 4px 4px 4px var(--PRIMARY);
}
.black{
    background-color: var(--BLACK);
    color: var(--WHITE);
    border: 1px solid var(--BLACK);
    box-shadow: 4px 4px 4px var(--DARKBLUE);


}
.clear{
    background-color: var(--WHITE);
    color: var(--BLACK);
    border:1px solid var(--BLACK);
    box-shadow: 4px 4px 4px var(--BLACK);
}
.white{
    background-color: var(--WHITE);
    color: var(--PRIMARY);
    border:1px solid var(--PRIMARY);
}
.icon{
    margin-right: 8px;  
}