.textarea{
    background-color: var(--GREY);
    color: var(--DARKGREY);
    font-size: var(--BodyR);
    padding: 12px 20px;
    border: none;
    resize: none;
    max-height: 100px;
    margin: 16px 0;
}