.page{
    padding: 0 32px;
}
.section{
    margin: 0;
    padding: 64px 0;
}

.right{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.searchIcon {
    border: none;
    background-color: transparent;

   }
   .inputDiv{
    width: 80%;
    
    }
.page-link{
    color: var(--PRIMARY);
    border: none;
    border-radius: 8px;
    font-size: var(--BodyS);
}

.pagination{
    padding: 32px 0;
}
.h3{
    color: var(--PRIMARY);
    font-size: var(--H3);
    margin-bottom: 24px;
}
.sortBtn{
    padding: 16px;
    background-color: var(--WHITE);
    color: var(--BLACK);
    font-size: var(--BodyR);
    border-radius: 8px;
    display: flex;
    align-items: center;
    border: solid 1px var(--BLACK);
}
.sortBtn:hover{
    background-color: var(--DARKBLUE);
    color: var(--WHITE);
}

.icon{
    margin-left: 8px;
}
.sorting{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left{
    padding: 0;
    display: inline-block;
}

.allPosts{
    min-width: none;
    color: var(--BLACK);
    font-size: var(--H6);
    display: inline-block;
}

.year button {
    width: 50%;
    margin:0 16px;
    padding: 12px; 
    color: var(--BLACK);
    border: none;
    background-color: transparent;
}
.year button:hover{
    border-radius: 8px;
    color: var(--WHITE) ;
    background-color: var(--DARKBLUE);
}
.newCompany{
    display: flex;
    align-items: center;
    justify-content: center;
}
.newCompany p{
    font-size: var(--BodyL);
    color: var(--BLACK);

}
.apply{
    width: fit-content;
}

@media only screen and (max-width:990px) {
        
    .h3{
        font-size: var(--H5);
    }
    .sorting{
        display: flex;
        justify-content: space-between;
    }
    .dropdown-menu{
        text-align: center;
    }
    .newCompany p{
        font-size: var(--BodyR);
        color: var(--BLACK);
    }
    .newCompany div{
        text-align: center;
    }
    .inputDiv{
        margin-top: 32px;
        width: 100%;
        }
}