.navbar-expand-lg{
    border-bottom: solid 1px var(--GREY);   
}
.navbar-nav{
    margin-left: 34px;
}
.nav-item{
    margin-left: 16px;
}
.nav-item:first-child{
    margin-left: 0;
}
.dropdown{
    text-align: right;
    width: 160px;
}
.navbar .dropdown-toggle::after {
    display: none;
  }
.dropdown-menu{   
  font-size:var(--BodyR);
  color: var(--BLACK);
  border: 1px solid var(--GREY);
  border-radius: 8px;
}
.dropdown-divider{
    background-color: var(--GREY);
}
.dropdown-item{
    width: 60%;
    margin: auto;
}
.links{
    color: var(--BLACK);
    text-decoration: none;
    padding: 12px;
}

.links:hover{
    border-radius: 8px;
    color: var(--WHITE);
    background-color: var(--DARKBLUE);
}

@media only screen and (max-width: 990px) {
    .navbar-expand-lg{
       border: none;  
    }
    .navbar-nav{
        margin: 0;
        margin-top: 14px;
        
    }
    .dropdown{
        display: none;
    }
    .navbar-toggler{
        background-color: var(--DARKBLUE);
        color: transparent;
        border-radius: 8px;
        padding: 8px ;
    }
    .navbar-toggler-icon{
        font-weight: 500;
        height: 32px;
        width: 32px;
    }
    
    .nav-item{
        width :54%;
        margin-bottom: 8px;
    }
    
    .links{
        color: var(--BLACK);
        text-decoration: none;
        padding: 12px;
    }
    
    .links:hover{
        border-radius: 8px;
        color: var(--WHITE);
        background-color: var(--DARKBLUE);
    }

    .navbar-brand{
        display: none;
    }
  
    .navbar-header{
        width: 100%;
        position: sticky;
        display: flex;
        align-items: center;
        z-index: 1;
        height: 60px;
        border-bottom: solid 1px var(--GREY);
        justify-content: space-between;
    }
   
    .navbar-right{
        display: none;
    }
    
    .slogan{
        margin-top: 8px;
    }
   
    .socials{
        display: flex;
        justify-content: space-between;
    }
    .brand{
        display: none;
    }
    .slogan p{
        margin: 28px 0;
        color: var(--DARKGREY);
        font-size: var(--P);
    }
    }
@media only screen and (min-width: 990px) {
    .slogan{
        display: none;
    }
    .settings{
        display: none;
    }
    .avatar{
        display: none;
        background-color: red;
    }
}