.h1{
    color: var(--BLACK);
    font-size: var(--H1);
    margin-bottom: 16px;
}


.collab{
    padding: 0;
}
.intro-div{
    margin-bottom: 35px;
}
.collab img{
    width: 100%;
}
.hero-section{
    margin: 0;
    padding: 64px 0;
}
@media only screen and (max-width:990px){
    .h1{
        font-size: var(--H3);
    }
    .bodyl{
        font-size: var(--BodyL);
    }

    .collab{
       display: none;
    }
    
}