:root {
  --H1: 4rem;
  --H2: 3.5rem;
  --H3: 3rem;
  --H4: 2.5rem;
  --H5: 2rem;
  --H6: 1.5rem;
  --BodyL: 1.25rem;
  --BodyR: 1rem;
  --BodyS: 0.75rem;
  --P: 1rem;

  --PRIMARY: #0F3FEB;
  --BLACK: #030A23;
  --DARKBLUE: #0B1E63;
  --DARKGREY:  #4B5169;
  --GREY: #DCDFEA;
  --WHITE: #FFFFFF;
}
*{
	font-family: Verdana, Tahoma, sans-serif;
	padding: 0;
	margin: 0;
  box-sizing: border-box;
}

@media  only screen and (max-width:990px){
  
}