.oneNotification{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 16px auto;

}
.oneNotification img {
    margin-right: 8px;
}
.notif{
    font-size: var(--BodyL);
    color: var(--DARKGREY);
}
.time{
    font-size: var(--BodyS);
    color: var(--DARKGREY);
}

@media only screen and (max-width:990px){
    

    .oneNotification{
        
        width: 100%;
    }
    .oneNotification img{
        margin: auto;
    }
    .notif{
      
        margin: auto;
    }
    .time{
     
        margin: auto;
    }
   
       
}