.page{
    padding: 0 32px;
}

.section{
    padding: 64px 0;
}
.h2{
  color: var(--PRIMARY);
  font-size: var(--H2);
}
.results{
  border-radius: 8px;
  width: 50%;
  outline: 1px solid var(--GREY);
  padding: 16px 32px;
  margin: 0 auto;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
}
.results div{
  font-size: var(--BodyR);
  color: var(--DARKBLUE);
  border-bottom: 1px solid var(--PRIMARY);
  padding: 8px;
  height: fit-content;
}

.sortBtn{
  border: none;
  background-color: var(--WHITE);
}
.category button {
  width: max-content;
  margin:0 16px;
  padding: 12px; 
  color: var(--BLACK);
  border: none;
  background-color: transparent;
}
.category button:hover{
  border-radius: 8px;
  color: var(--WHITE) ;
  background-color: var(--DARKBLUE);
}
.database{
    border-radius: 8px;
    outline: 1px solid var(--GREY);
}

  table thead th
   {
    padding:  32px 0!important;
    border-top:none ;
    color: var(--DARKGREY);
    font-size: var(--BodyR);
    text-align: center;
    vertical-align: middle;

  }
  
 
  table tbody td {
    font-size: var(--BodyR);
    border-top: 1px solid var(--GREY) !important;
    padding:8px 8 !important;
    text-align: center;
    vertical-align: middle;


  }
  
  
  
  
  
   tbody tr:hover {
    background-color: rgb(3, 10, 35,0.075);
  }
  .newResponsible{
    width: fit-content;
    position: sticky;
    padding: 64px 0;
    padding-top: 0;
    left: 90vw;
    bottom: 0;
  }
  

  @media only screen and (max-width:990px){
    table thead th{
      padding:32px  !important;
      width: fit-content;
     }

 .database{
  overflow-x: auto;
  max-width: 100%;
 }
 .h2{
  font-size: var(--H4);
 }
.results{
  width: 100%;
}

  }